@import "tailwindcss";

body {
  /* background-image: url("../public/dala.webp"); */
  background-size: 1920px;
  background-repeat: no-repeat;
  /* background: linear-gradient(to right, #DCE35B, #45B649); */
  background: linear-gradient(to right, #56ab2f, #a8e063);
}
